body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
}

header {
    padding: 100px 20px;
    background: linear-gradient(to right, #000000, #1a1a1a);
}

h1 {
    font-size: 3rem;
    color: gold;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

section {
    padding: 50px 20px;
}

.product {
    background: #111;
    margin: 30px auto;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255,215,0,0.3);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.whatsapp {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

footer {
    padding: 20px;
    background: #111;
    margin-top: 50px;
}

