body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HEADER */
header {
    background: #ff6a00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: black;
}

header input {
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.cart {
    font-size: 20px;
    cursor: pointer;
}

/* NAVIGATION */
nav {
    background: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
    cursor: pointer;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card button {
    background: #ff6a00;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background: black;
}
